.insights-v1 {
  .hero-img {
    height: 500px;
  }

  .callout {
    border: 1px solid #000;
    padding: 3rem;

    ul {
      list-style: none;
      padding-top: 2rem;
    }
  }

  .content-block {
    padding: 2rem;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .content-block__light-grey {
    background-color: #f3f3f3;
  }

  main {
    .row {
      margin-bottom: 2rem;
    }
  }

  .chapter-nav {
    position: sticky;
    top: 0;
    z-index: 3;
    background: #f0f0f0;
    color: black;
    padding: 1rem 2rem;

    span:first-child {
      min-width: 80%;
    }

    #contents-toggle {
      text-align: right;

      button {
        min-width: 220px;
        padding: 20px 40px 20px 20px;
        background-color: #9b9b9b;
        border: none;

        &:hover {
          cursor: pointer;
          color: #fff;
        }

        &:focus {
          outline: 5px solid #1d70b8;
        }
      }
    }

    #article, #chapter {
      font-weight: bold;
    }

    #contents {
      ul {
        list-style: none;
        padding-left: 0;
        column-count: 3;

        li{
          a {
            color: #000;
          }
        }
      }
    }
  }

  .list-title {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .king-james-shakespeare-img {
    width: 500px;
  }

  .audio-embed-image {
    margin: auto;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  .image-container {
    position: relative;
    width: 200px;
    height: 300px;
  }
  .image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
  }
  .image-container .after {
    display: block;
    background: rgba(0, 0, 0, .6);
  }

  .chapter-nav {
    .row {
      margin-bottom: 0;
    }
  }
}
