#main-navigation {
  height: 6em;
  background-image: url("/images/tna.jpeg");
  -webkit-background-size: 2em;
  background-size: 4em;
  background-repeat: no-repeat;
  background-position: 0.5em 1em;
  padding-top: .5em;

  li {
    font-size: .9em;

    a {
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

